.login-form {
<<<<<<< HEAD
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
=======
  height: 90vh;
  width: 100vw;
  /*background-color: #fff;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
>>>>>>> f7aa0069aa1633c06378c14115d1c8d1faafa3e3
}

.login-form__form {
  max-width: 360px;
}
